@use 'sass:math';

:host {
  display: block;
  height: 100%;
  //width: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.weekdays-row {
  //width: 100%;
  display: flex;
  justify-content: space-evenly;

  .weekday-item {
    background-color: #28a745;
    outline: 1px solid black;
    flex-grow: 1;
    text-align: center;
    width: math.percentage(math.div(100, 7));
  }

  //If Week Day is current day
  .selected-day {
    background-color: #ffc107;
  }

}


.weeks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  //width: 100%;

  .week-row {
    display: flex;
    flex: 1;
    background-color: #c8e7ff;
    //border: 1px solid orange;

    .day {
      outline: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 0;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 123, 255, 0.1);
      }

      .day-item {

      }
    }

    .zero{
      outline: none;
      background-color: #9ba5ad;

      >*{
        display: none;
      }

      &:hover{
        background-color: #9ba5ad;
        pointer-events: none;
      }
    }
  }
}
