@use 'sass:math';
@use "variables" as *;

:host {
  display: block;
  height: 100%;
  //width: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.weekdays-row {
  //width: 100%;
  display: flex;
  justify-content: space-evenly;

  .weekday-item {
    background-color: #28a745;
    outline: 1px solid black;
    flex-grow: 1;
    text-align: center;
    width: math.percentage(math.div(100, 7));
  }



}


.weeks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  //width: 100%;

  .week-row {
    display: flex;
    flex: 1;

    //border: 1px solid orange;

    .day {
      @include day(#f4ebda);
    }

    //If Week Day is current day
    .selected-day {
      @include day(#95b359);
    }

    .zero{
     @include day(#b3b3b3)
    }
  }
}
