@use 'sass:math';
@use "variables" as *;

:host {
  display: block;
  height: 100%;
  flex: 2 1 95%;
}

.calendar-container {
  height: inherit;
  display: grid;
  grid-template-rows: 3% auto;
  grid-template-areas: 'weekdays'
                       'weeks';
}

//Modnday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday
.weekdays-row {
  grid-area: weekdays;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .weekday-item {
    background-color: #28a745;
    outline: 1px solid black;
    text-align: center;
  }
}

// 1, 2, 3....
.weeks {
  grid-area: weeks;
  display: grid;

  .week-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .day {
      @include day(#f4ebda);
    }

    //If Week Day is current day
    .selected-day {
      @include day(#95b359);
    }

    .zero{
     @include day(#b3b3b3)
    }
  }
}
