@use "variables" as *;
@use "ui" as ui;

p, a, h1, h2, h3, h4, h5, h6{
  color: $main-color;
}

a:hover{
  color: #007bff;
}
.navbar-container {
  outline: $debug-outline1;
  background-color: #5a5a5a;
  width: 100%;

  .navbar{
    display: flex;
    align-items: center;
    //background-color: #f16daf;
    justify-content: space-between;
    margin: 0 auto;
    height: inherit;

    &:nth-child(n), a{
      padding: .7em;
    }
  }
}


.left{
  flex: 1 1;
}

.center{
  flex: 2 1;
  display: flex;
  justify-content: center;

}

.right{
  flex:  1;
  display: flex;
  place-items: end;

  button{
    @include ui.btn($main-color, 25px);
   }

  img{
    width: 10%;
  }
}
