/* You can add global styles to this file, and also import other style files */
@use 'variables' as *;
@use "ui" as *;

* {
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  max-height: 100vh;
  max-width: $max-width;
  min-width: $min-width;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.svg{
    @include svg-icon($main-color, 50px);
}
