@use 'sass:color';

$debug-outline1: 1px solid red;
$debug-outline2: 1px solid blue;
$debug-outline3: 1px solid green;
$debug-outline4: 1px solid orange;


$main-color: #f16daf;
$secondary-color: #007bff;
$tetiary-color: #dc3545;
$text-color: #212529;
$max-width: 2200px;
$min-width: 890px;
$credit-color: #28a745;
$debit-color: #dc3545;

@mixin month-outside{
 @include day(#b3b3b3);

}

@mixin day($color){
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $color;

  &:hover{
    cursor: pointer;
    background-color: color.adjust($color, $blackness: 10%);
  }
}
