@use "variables" as *;

:host {
  padding: 01em;
  display: grid;;
  grid-template-areas: 'dayNumber'
                        'gain'
                        "mini";
}

.dayNumber{
  grid-area: dayNumber;
  align-self: flex-start;
  margin-bottom: auto;
}

.gain{
  grid-area: gain;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;

  >span{
    font-size: 1.5em;
  }
}

.minitransactions{
  grid-area: mini;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: auto;

  :nth-child(n){
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dr{
    color: $debit-color;
  }

  .cr{
    color: $credit-color;
  }
}

