@use "variables" as *;

:host {
  height: 100%;
  flex: 1 2 2vw;
  background-color: $main-color;

  &.hide {
    display: none;
  }
}

.sidebar-container {
  height: inherit;;
}

.sidebar {
  background-color: #a78928;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav {
  margin-top: 4em;
  height: 100%;
  //background-color: #0cfffb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebar-nav-item {
    width: 100%;
    padding: .4em;
    border-bottom: dotted 1px black;

    &:hover {
      background-color: #a728a7;
    }
  }
}

